@import "../../styles/variables";
@import "../../styles/elevate";

.create-canvas-card {
  color: $color-gray1;
  text-decoration: none;
  max-width: 320px;
  cursor: pointer;
}
.create-canvas-card__inner {
  overflow: hidden;
  padding: 40px;
  background: $color-gray9;
  border-radius: $border-radius;
  transform: translate3d(0, 0, 0);
  transition: box-shadow 200ms ease, transform 200ms ease;
  will-change: transform, box-shadow;
}
.create-canvas-card__media {
  margin-bottom: 40px;

  img {
    vertical-align: top;
  }
}
.create-canvas-card__title {
  min-height: 1.125 * 2em;

  &:last-child {
    margin-bottom: 0;
  }
}
.create-canvas-card__desc {
  margin-bottom: 40px;
}
.create-canvas-card__cta {
  font-weight: 700;
  font-size: 1.125rem;

  .icon {
    margin-left: 12px;
    width: 18px;
    height: 12px;
    transform: translateX(0);
    transition: transform 300ms ease;
  }
}


.create-canvas-card:hover,
.create-canvas-card:focus {
  outline: none;

  .create-canvas-card__inner {
    @include elevate(16);
    transform: translate3d(0, -10px, 0);
  }
  .create-canvas-card__cta {
    .icon {
      transform: translateX(15px);
    }
  }
}
.create-canvas-card:active {
  .create-canvas-card__inner {
    @include elevate(8);
    transform: translate3d(0, -5px, 0);
  }
}


// Theming for types
.create-canvas-card_type_business {
  .create-canvas-card__inner {
    background-color: $bg-indigo;
  }
  &:hover,
  &:focus {
    .create-canvas-card__inner {
      @include elevate(16, $color-indigo);
    }
  }
  &:active {
    .create-canvas-card__inner {
      @include elevate(8, $color-indigo);
    }
  }
}
.create-canvas-card_type_value {
  .create-canvas-card__inner {
    background-color: $bg-orange;
  }
  &:hover,
  &:focus {
    .create-canvas-card__inner {
      @include elevate(16, #eb933b);
    }
  }
  &:active {
    .create-canvas-card__inner {
      @include elevate(8, #eb933b);
    }
  }
}
.create-canvas-card_type_lean {
  .create-canvas-card__inner {
    background-color: $bg-lime;
  }
  &:hover,
  &:focus {
    .create-canvas-card__inner {
      @include elevate(16, #93eb3b);
    }
  }
  &:active {
    .create-canvas-card__inner {
      @include elevate(8, #93eb3b);
    }
  }
}


.create-canvas-card_size_small {
  .create-canvas-card__inner {
    padding: 20px;
  }
  .create-canvas-card__media {
    margin-bottom: 20px;
  }
  .create-canvas-card__title {
    font-size: 1.125rem;
    min-height: 1.125 * 2em;
  }
}
